@font-face {
  font-family: 'Concert One';
  src: url('ConcertOne-Regular.ttf') format('truetype');
}

html, body {
  height: 100%;
}

body {
  font-family: 'Concert One', cursive;
  background: aliceblue;
}

/* remove scroll, based on https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
.scroll-control::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
